.Contacto{
    background-color: #0455bf;
}

.Contacto h2{
    font-family: 'Montserrat', sans-serif;
    color: #F27E7E;
    display: flex;
    justify-content: flex-start;
    
    
}
.Enlaces{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding: 30px;
}
.Enlaces a {
   
    text-decoration-style: none;
}
.Enlaces i{
  font-size: 5rem;
  margin-bottom: 4rem;
}

.Enlaces #github{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 42px;
    width: 76px;
    height: 76px;
    transition: all 60ms;
    cursor: pointer;
}

#linkedin{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    width: 60px;
    height: 64px;
    /* padding-top: 2px; */
    transition: all 60ms;
    cursor: pointer;
}
#linkedin:hover{
    transform: scale(1.2) translate(0px,-10px);
    background-color: #0077b5;
    color: white;
}

#whatsapp{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    width: 64px;
    height: 65px;
    /* margin-left: 5px; */
    transition: all 60ms;
    cursor: pointer;
}
#whatsapp:hover{
    transform: scale(1.2) translate(0px,-10px);
    background-color: white;
    color: #25D366;
}

#mail{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80px;
    height: 56px;
    transition: all 60ms;
    cursor: pointer;
}
#mail:hover{
    transform: scale(1.2) translate(0px,-10px);
    background-color: rgb(238, 40, 40);
    color: white;
}

#telegram{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    width: 60px;
    height: 56px;
    transition: all 60ms;
    cursor: pointer;
}
#telegram:hover{
    transform: scale(1.2) translate(0px,-10px);
    color: #229ED9;
    background-color: white;
}